In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
user_columns = ['user id','age','gender','occupation','zip code']     ## For u.user file in movielens-100k dataset
rating_coulmns = ['user id','movie id','rating','timestamp']          ## For u.data file in movielens-100k dataset

In [14]:
movie_items =  "movie id | movie title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western"
items_columns = movie_items.split(' | ')                               ## For u.item file in movielens-100k dataset

In [10]:
user_columns                                                           ## For u.item file in movielens-100k dataset

['movie id',
 'movie title',
 'release date',
 'video release date',
 'IMDb URL',
 'unknown',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [25]:
users = pd.read_csv('ml-100k/u.user',sep='|',names=user_columns)
ratings = pd.read_csv('ml-100k/u.data',sep='\t',names=rating_coulmns)
items = pd.read_csv('ml-100k/u.item',sep='|',names=items_columns,encoding='latin-1')

In [33]:
print(users.shape)
users.head()

(943, 5)

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [32]:
print(ratings.shape)
ratings.head()

(100000, 4)

   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [34]:
print(items.shape)
items.head()

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [36]:
ratings_train = pd.read_csv('ml-100k/ua.base', sep='\t', names=rating_coulmns)   ## Importing Train and Test ML-100k Data
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=rating_coulmns)

In [39]:
print('Rating Train Shape : {}'.format(ratings_train.shape))
print('Rating Test Shape : {}'.format(ratings_test.shape))

Rating Train Shape : (90570, 4)
Rating Test Shape : (9430, 4)

In [51]:
ratings.isnull().sum()                     ## No null values

user id      0
movie id     0
rating       0
timestamp    0
dtype: int64

In [49]:
len(ratings['user id'].unique())            ## total number of unique users

943

In [50]:
len(ratings['movie id'].unique())            ## total number of unique movies

1682